// VARIABLES
@mixin shadow {
    box-shadow: 0 0 20px hsla(206, 11%, 55%, 0.20);
}



// FONTS
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/');
    src:  url('../fonts/#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?1n3o0a') format('truetype'),
      url('../fonts/icomoon.woff?1n3o0a') format('woff'),
      url('../fonts/icomoon.svg?1n3o0a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }

  
//   START

// GENERAL
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 18px;
    font-family: "Open Sans"
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins";
    color: hsl(192, 100%, 9%);
}

p {
    color: hsl(208, 11%, 55%);
}

small {
    font-size: .9rem;
}

.container {
    width: 85%;
    max-width: 1230px;
    margin: 0 auto;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}

.card {
    display: flex;
    flex-wrap: wrap;
    min-height: 440px;
    max-height: 980px;
    padding: 0 30px;
    background: #fff;
    border-radius: 15px;
    margin: 50px 0;
    justify-content: center;
    @include shadow();
}

.card__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
    flex-wrap: 1;
}

.card__col--left {
    margin: 0 120px;
}

.card__col--img {
    display: flex;
    max-width: 420px;
    flex-wrap: 1;
}

.card__img {
    width: 100%;
    object-fit: contain;
}

.button {
    padding: 20px 70px;
    background: hsl(322, 100%, 66%);
    border-radius: 60px;
    border: none;
    margin-top: 40px;
    font-family: "Poppins";
    color: #fff;
    @include shadow();
}

// HEADER
.header {
    background: hsl(193, 100%, 96%);
    padding: 55px 80px;
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
}

.header__row {

    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.hero {
    margin-top: 70px;
}

.logo {
    width: 200px;
}

.header__button {
    padding: 15px 65px;
    background: #fff;
    border-radius: 60px;
    border: none;
    @include shadow();
}

.hero__col {
    width: 46%;
    margin: auto 0;
    padding-right: 80px;
}

.hero__col--img {
    width: 54%;
}

.hero__img {
    width: 100%;
}


// CTA
.cta {
    min-height: unset;
    display: block;
    text-align: center;
    height: unset;
    width: fit-content;
    margin: 0 auto;
    margin-top: 65px;
    padding: 50px 135px;
    position: relative;
    z-index: 1;
    bottom: -95px;
}


// FOOTER
.footer {
    background: hsl(192, 100%, 9%);
    color: #fff;
    padding: 190px 120px 65px 120px;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo--white {
    filter: brightness(0) invert(1);
}

.footer__col {
    margin-top: 45px;
}

.contact {
    max-width: 370px;
}

.contact__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.contact__icon {
    margin-top: 5px;
    margin-right: 20px;
}

.contact__details {
    color: #fff;
}

.footer__list {
    columns: 2;
    column-gap: 120px;
}

.footer__item {
    width: max-content;
    margin-bottom: 30px;
}

.col__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social__link  span{
    padding: 10px;
    margin-right: 12px;
    font-size: 15px;
    border: #fff solid 1px;
    border-radius: 30px;

}

.social {
    min-width: 160px;
}

.copyright {
    margin-top: 45px;
    white-space: nowrap;
}

