// VARIABLES
@mixin shadow {
    box-shadow: 0 0 20px hsla(206, 11%, 55%, 0.20);
}



// FONTS
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/');
    src:  url('../fonts/#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?1n3o0a') format('truetype'),
      url('../fonts/icomoon.woff?1n3o0a') format('woff'),
      url('../fonts/icomoon.svg?1n3o0a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }

  
//   START

// GENERAL
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 18px;
}

body {
    font-family: "Open Sans"
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins";
    color: hsl(192, 100%, 9%);
}

p {
    color: hsl(208, 11%, 55%);
}

small {
    font-size: .9rem;
}

.container {
    width: 85%;
    max-width: 1230px;
    margin: 0 auto;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}

.card {
    display: flex;
    flex-wrap: wrap;
    min-height: 440px;
    padding: 0px 30px 0px 120px;
    background: #fff;
    border-radius: 15px;
    margin: 50px 0;
    justify-content: space-between;
    @include shadow();
}

.card__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.card__col--img {
    display: flex;
    width: 40%;
}

.card__img {
    width: 100%;
    object-fit: contain;
}

.button {
    padding: 1rem 4rem;
    background: hsl(322, 100%, 66%);
    border-radius: 60px;
    border: none;
    margin-top: 40px;
    font-size: 1rem;
    font-family: "Poppins";
    color: #fff;
    @include shadow();
}

// HEADER
.header {
    padding: 55px 0;
    background: hsl(193, 100%, 96%);
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
}

.container-two {
    margin: 0 auto;
    width: 88.88%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.brand {
    display: block;
    height: max-content;
    margin: auto 0;
}

.logo {
    width: 200px;
    margin: auto 0;
}

.hero {
    margin: 0 auto;
    margin-top: 70px;
    width: 88.88%;
    max-width: 1280px;
    display: flex;
}

.hero__headline {
    margin-bottom: 50px;
}

.header__button {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background: #fff;
    border-radius: 60px;
    border: none;
    @include shadow();
}

.hero__col {
    width: 46%;
    margin: auto 0;
    padding-right: 80px;
}

.hero__col--img {
    width: 54%;
    align-self: center;
}

.hero__img {
    width: 100%;
    object-fit: contain;
}


// CTA
.cta {
    min-height: unset;
    display: block;
    text-align: center;
    height: unset;
    width: fit-content;
    margin: 0 auto;
    margin-top: 65px;
    padding: 50px 135px;
    position: relative;
    z-index: 1;
    bottom: -95px;
}


// FOOTER
.footer {
    background: hsl(192, 100%, 9%);
    color: #fff;
    padding: 190px 0 120px 0;
}

.container--footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo--white {
    filter: brightness(0) invert(1);
}

.footer__col {
    margin-top: 45px;
}

.contact {
    max-width: 370px;
}

.contact__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.contact__icon {
    margin-top: 5px;
}

.contact__details {
    margin-left: 20px;
    color: #fff;
}

.footer__list {
    columns: 2;
    column-gap: 120px;
}

.footer__item {
    width: max-content;
    margin-bottom: 30px;
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social__link  span{
    padding: .5rem;
    margin-right: 12px;
    font-size: 1rem;
    border: #fff solid 1px;
    border-radius: 30px;

}

.social {
    min-width: 160px;
}

.copyright {
    margin-top: 45px;
}


// MEDIA QUERIES
@media (max-width: 1023px) {
    html {
        font-size: 28px;
    }

    .container {
        width: unset;
        margin: 0px 40px;
    }

    .button {
        margin-top: 75px;
    }


    // HEADER
    .container-two {
        margin: 0px 40px;
    }

    .header__button {
        font-size: .75rem;
        padding: .4rem 1.5rem;
    }


    // HERO
    .hero {
        display: block;
        margin-top: 175px;
    }

    .hero__col {
        width: 100%;
        margin: auto 0;
        padding-right: 0;

    }

    .hero__headline {
        font-size: 1.5rem;
        margin-bottom: 70px;
    }

    .hero__col--img {
        width: 100%;
        padding-right: 0;
    }

    .hero__col {
        margin-bottom: 110px;
        text-align: center;
    }
    


    // Sections
    .card {
        padding: 75px;
    }

    .card__col {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .card__col--img {
        width: 100%;
        order: 1;
    }

    .card__title {
        margin: 125px 0 40px 0;
    }


    // CTA
    .cta {
        width: unset;
        margin: 0 20px;

        .button {
            margin-top: 60px;
        }
    } 

    .cta__title {
        font-size: 1.2rem;
    }

    // FOOTER
    .footer {
        padding: 190px 30px 100px 30px; 
    }

    .logo--white {
        width: 335px;
    }

    .footer__col {
        width: 100%;
    }

    .footer__list {
        columns: 1;
    }

    .contact {
        max-width: unset;
    }

    .contact__icon {
        width: 35px;
        height: 35px;
        object-fit: contain;
    }

    .contact__details {
        margin-left: 35px;
    }

    .footer__social {
        text-align: center;
    }

}

@media(max-width:576px) {
    html {
        font-size: 16px;
    }

    .button {
        margin-top: 25px;
        padding: .5rem 1.75rem;
    }

    .container-two {
        margin: 0 auto;
    }


    // Header
    .logo {
        width: 125px;
    }


    // HERO
    .hero {
        margin-top: 100px;
    }

    .hero__col {
        margin-bottom: 60px;
    }
    
    .hero__headline {
        margin-bottom: 30px;
    }


    // SECTIONS
    .card {
        padding: 30px;
    }

    .card__title {
        margin-top: 20px;
        margin-bottom: 10px;
    }


    // CTA
    .cta {
        bottom: -80px;
    }

    .cta .button {
        margin-top: 20px;
    }


    // FOOTER
    .footer {
        padding: 190px 0 50px 0;
    }

    .container--footer {
        margin: 0 auto;
    }

    .footer__col.links {
        margin-top: 20px;
    }

    .footer__list {
        columns: 2;
        width: 75%;
        margin: 0 auto;
    }

   .footer__item {
       margin: 0 auto 10px auto;
   }
}